:host {
  --tab-bar-height: 55px; 
  
  // Quando a pokédex NÃO estiver aberta, a altura da barra será 0
  &:not(.pokedex-is-open) {
    --tab-bar-height: 0px;
  }

  ion-router-outlet + ion-tab-bar {

  }
}

// Estilos da barra de abas
ion-tab-bar {
  height: var(--tab-bar-height);
  transition: height 0.4s ease-in-out;
  overflow: hidden;

  --background: #282828;
  --color: #a10e0e;
  --color-selected: #e62121;
  border-top: 2px solid #3e3e3e;
}

// Regra para o conteúdo da página
ion-content {
  --padding-bottom: var(--tab-bar-height, 55px);
  transition: --padding-bottom 0.4s ease-in-out;
}