:host {
  --tab-bar-height: 0px;

  &.pokedex-is-open {
    --tab-bar-height: 0px;
  }
}

ion-tab-bar {
  height: 55px;
  transition: height 0.4s ease-in-out;
  overflow: hidden;

  --background: #282828;
  --color: #a10e0e;
  --color-selected: #e62121;
  border-top: 2px solid #3e3e3e;

  &.tabs-hidden {
    height: 0px;
  }
}

ion-content {
  --padding-bottom: var(--tab-bar-height, 55px);
  transition: --padding-bottom 0.4s ease-in-out;
}

.tab-icon {
  width: 24px;
  height: 24px;
  display: block;
  margin: 0 auto 4px;
}